<div class="col-sm-12">

</div>
<div class="article col-xs-12">
  <div class="image" style="width:10%; float:left">
    <!-- <img src="../assets/images/download.jpg" class="img-rounded img-responsive" alt="Cinque Terre"> -->
    <img src="{{article.imageUrl}}" class="img-rounded img-responsive" alt="Image">
  </div>
  <div class="article-content" style="width:85%; float:left">
    <div class="col-sm-8">
      <h4>Title: {{ article.title }}</h4>
      <small>{{ article.author }}</small>
    </div>
    <div class="col-sm-4 text-right">
      <span class="meta date">
        {{ article.publishedAt | date:'medium' }}
      </span>
      <span class="btn btn-xs btn-info votes">
        <i class="fa fa-fw fa-star"></i>
        {{ article.votes }}
      </span>

      <span class="bg-default">
          <a (click)="upvote()" class="fa-tooltip tooltip-info" title="Vote up"><i class="fa fa-fw fa-thumbs-up text-success"></i></a>
          <a (click)="downvote()" class="fa-tooltip" title="Vote down"><i class="fa fa-fw fa-thumbs-down text-danger"></i></a>
      </span>

    </div>
    <div class="col-sm-12">
      <p>{{ article.description }}</p>
    </div>
  </div>
</div>
