.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    background: #cecece !important;
    color: #000;
}

.sidebar-nav li a:active:after,
.sidebar-nav li a:focus:after{
    content: " \f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    right: 10px;
}
