<div class="col-sm-12">

  <div class="col-sm-6">





    <label>Sort By</label>
    <div class="btn-group">
        <button type="button" (click)="changeSort('Time')" class="btn btn-primary">Time</button>
        <button type="button" (click)="changeSort('Votes')" class="btn btn-primary">Votes</button>
    </div>


  </div><!-- ./sorting orders -->

  <div class="col-sm-6">
    <div class="input-group">
      <input class="from-group" type="text" placeholder="Search..." />
      <span class="input-group-addon">
        <i class="fa fa-fw fa-search"></i>
      </span>
    </div>

  </div><!-- ./search-bar -->

</div>
